header
    div
        img.logo(alt='Интернет-магазин шин и дисков в Барнауле. У нас вы сможете купить автотовары высокого качества по выгодным ценам', src='/local/templates/podkova/logo.png', width='199')
        h3.phone.call
            a(href='tel:+73852223345') +7 (3852) 22-33-45
        p.lk
            a(href='#') Личный кабинет
        ul.lk-drop-ul
            li
                a(data-open='enter') Вход
            li
                a(href='/personal/?register=yes') Регистрация
