.banner {
  margin-top: 24px;
  &__inner {
    position: relative;
    height: 200px;
    background: #1c98ff;
    border-radius: 8px;

    @include to(640px) {
      height: 180px;
    }
  }

  &__title {
    position: absolute;
    font-size: 30px;
    line-height: 36px;
    padding: 0 0 24px 24px;
    color: #ffffff;
    font-weight: bold;
    margin: auto;
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;

    @include to(640px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
}