nav>ul>li:first-child>a {
  background-image: none;
  padding-left: 26px;
}

nav.fixed {
  padding: 0 20px;
  box-sizing: border-box;
}

nav>ul>li:first-child {
  margin-left: 0;
}

nav.fixed>ul>li:first-child {
  margin-left: 0;
}

nav>ul {
  max-width: 890px;
  width: 100%;

  @include from(641px) {
    display: flex;
    justify-content: space-between;
  }

  & > li > a {
    padding: 26px;

    @include to(1023px) {
      font-size: 13px;
      line-height: 16px;
    }
    @include to(800px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}