nav
    img.logo(src='/local/templates/podkova/img/logo-mini.png', width='39', height='40', alt='')
    ul
        li
            a(href='#/') Интернет-магазин
        li
            a(href='#') Услуги и цены
        li
            a(href='#') Запись в сервис
        li
            a(href='#') О компании
        li
            a(href='/sale/')
                i.sale-icon
                | Акции
        li
            a(href='#') Контакты