extends ../views/layouts/default
block variables
	- var title = "Выбор автомобиля и услуги / default";

block content
	include ../blocks/components/banner/banner
	include ../blocks/components/record/record
	include ../blocks/components/services/services