section.services
    .container
        .services__title
            | Услуги автосервиса
        .services__all
            a(href='#') Все услуги
        .services__list
            .services__item
                .services__name
                    img(src="img/car-selection/icon_1.svg", alt="")
                    .services__info
                        .services__text
                            | Диагностика автомобиля
                        .services__quantity
                            | 15 услуг
            .services__item
                .services__name
                    img(src="img/car-selection/icon_2.svg", alt="")
                    .services__info
                        .services__text
                            | Ремонт
                        .services__quantity
                            | 15 услуг
            .services__item
                .services__name
                    img(src="img/car-selection/icon_3.svg", alt="")
                    .services__info
                        .services__text
                            | Техническое обслуживание
                        .services__quantity
                            | 15 услуг
            .services__item
                .services__name
                    img(src="img/car-selection/icon_4.svg", alt="")
                    .services__info
                        .services__text
                            | Шиномонтаж

                        .services__quantity
                            | 15 услуг
