.record {
  margin-top: 40px;
  margin-bottom: 40px;
  &__inner {
    padding-bottom: 49px;
    border-bottom: 1px solid #E6E6E6;
  }
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    margin-bottom: 32px;

    @include to(640px) {
      font-size: 28px;
      line-height: 32px;
    }
  }
}

.tab {
  font-size: 0;
  border-radius: 6px;

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    padding: 24px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    background: linear-gradient(180deg, #414141 0%, #333333 100%);

    @include from($break_lg) {
      width: 33.33%;
      &:before {
        content: '/';
        position: absolute;
        font-size: 20px;
        line-height: 24px;
        height: 24px;
        text-align: center;
        color: #fff;
        left: 0;
        bottom: 0;
        top: 0;
        right: auto;
        margin: auto;
        z-index: 1;
      }

      &:first-child {
        border-radius: 4px 0 0 4px;
        &:before {
          content: none;
        }
      }

      &:last-child {
        border-radius:  0 4px 4px 0;
      }
    }


    &.active {
      background: #fff160;
      &:before {
        content: none;
      }
    }

    &.active + & {
      &:before {
        content: none;
      }
    }
  }

  &__item.active &__link {
    color: #333333;
  }

  &__link {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    line-height: 24px;
  }

  &-content {
    &__item {
      display: none;

      &.active {
        display: block;
      }
    }

  }
}
