section.selected
    .container
        .selected__title
            |Выбранные услуги
            .container
                .selected___list
                    .selected__item
                        .selected__text
                            |Масло в двигателе замена
                        .selected__price
                            |490 р.
                        img(src="img/car-selection/delete.svg", alt="")
                    .selected__item
                        .selected__text
                            |Масло в двигателе замена
                        .selected__price
                            |490 р.
                        img(src="img/car-selection/delete.svg", alt="")
                    .selected__item
                        .selected__text
                            |Масло в двигателе замена
                        .selected__price
                            |490 р.
                        img(src="img/car-selection/delete.svg", alt="")
                    .selected__item
                        .selected__text
                            |Масло в двигателе замена
                        .selected__price
                            |490 р.
                        img(src="img/car-selection/delete.svg", alt="")
                    .selected__item
                        .selected__text
                            |Масло в двигателе замена
                        .selected__price
                            |490 р.
                        img(src="img/car-selection/delete.svg", alt="")


section.address
    .container
        .address__inner
            .address__text
                | Будем ожидать Вас по адресу 
            .addres__info
                | ул. Попова 150 в 18:00 28.08.19

section.confirmation
    .container
        .confirmation__title
            | Подтверждение записи
        .confirmation-form
            label.confirmation-form__label
                input.confirmation-form__input(type="text" placeholder="Фамилия и Имя")
            label.confirmation-form__label
                input.confirmation-form__input(type="text" placeholder="Номер телефона")
            button.confirmation__button Подтвердить запись