footer
    .container
        .nav__wrap
            .nav
                h5 Услуги автосервиса
                ul
                    li
                        a(href='#') Диагностика автомобиля
                    li
                        a(href='#') Ремонт
                    li
                        a(href='#') Техническое обслуживание
                    li
                        a(href='#') Шиномонтаж
            .nav
                h5 Разделы сайта
                ul
                    li
                        a(href='#') Интернет-магазин
                    li
                        a(href='#') Услуги и цены
                    li
                        a(href='#') Запись в сервис
                    li
                        a(href='#') О компании
                    li
                        a(href='#') Акции
                    li
                        a(href='#') Контакты
    p.copy
        | © 2004-2019 «Подкова»
        br
        span Дата последней выгрузки: 15-09-2019
        br
        span Всего наименований: 10656

    .social
        p Будь в курсе
        ul
            li
                a(href='https://vk.com/club19707049', target='_blank')
                    img.lazy(data-src='local/templates/podkova/img/vk-icon.png', alt='Группа вконтакте', width='28', height='56' src='local/templates/podkova/img/vk-icon.png')
            li
                a(href='https://ok.ru/group/53606199787524', target='_blank')
                    img.lazy(data-src='local/templates/podkova/img/ok-icon.png', alt='Группа в одноклассниках', width='28', height='56' src='local/templates/podkova/img/ok-icon.png')
            li
                a(href='https://www.instagram.com/podkova22.ru/', target='_blank')
                    img.lazy(data-src='local/templates/podkova/img/in-icon.png', alt='Страница в инстаграмм', width='28', height='56' src='local/templates/podkova/img/in-icon.png')
    p.author
        | Разработка сайта —
        a(href='http://letsrock.pro', target='_blank')
            img.lazy(alt='Разработка сайта — Letsrock', data-src='local/templates/podkova/img/letsrock-logo.png' src='local/templates/podkova/img/letsrock-logo.png', width='89', height='20')
