include ../utils/mixins

block variables

doctype html
html(lang="ru")
	head
		include ../includes/head
	body
		.wrapper
			block header
				include ../../blocks/modules/header/header
			block nav
				include ../../blocks/modules/nav/nav
			block content

		block footer
			include ../../blocks/modules/footer/footer
		include ../includes/scripts